
*{
      box-sizing: border-box;
      transition: all 0.3s ease;
}
html{
      font-family: serif;
      font-size: 1rem;
      color: var(--clr-primary-text);
}

body{
      font-size: 0.875rem;
      margin: 0;
      height: 100vh;
      display: grid;
      grid-template-columns:  minmax(100px,1fr) minmax(auto,980px) minmax(100px,1fr);
}
body>*{
    grid-column: 2;
}
main{
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      background-color: antiquewhite;

}
.editor-tools{
      display: grid;
      align-items: center;
}
.icons{
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 16px; 
      padding: 20px;      
}


.icon {
      width: 40px;
      height: 40px;
      padding: 6px;
      border-radius: 6px;
      background-color: white;
      cursor: pointer;
}
.icon:hover{
      transform: scale(1.1);
}


/* gallery */



.img-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 16px; 
      padding: 20px;
}
    
    .gallery-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.5);
      cursor: pointer;
}
    .gallery-img:hover{
      transform: scale(1.1);
}
    