  body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: hsl(0, 0%, 20%);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    
    .tools {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: auto;
    }
    .text-and-color {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .text-input {
      flex-grow: 1;
      padding: 8px;
      font-size: 18px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
    .color-picker {
      width: 50px;
      height: 40px;
      border: none;
      cursor: pointer;
      background: none;
    }
    .label-color-picker{
      font-weight:bold;
      margin-right: 8px;
    }
    .icons {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
    .icon:hover {
      transform: scale(1.2);
    }
    .download-btn {
      margin-top: 15px;
      padding: 10px;
      background: #00b894;
      color: white;
      text-align: center;
      font-weight: bold;
      border-radius: 6px;
      text-decoration: none;
      user-select: none;
    }
    #download-btn:hover {
      background: #019870;
    }
    dialog {
      position: relative;
      border: none;
      line-height: 2em;
      font-size: 3em;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.8);
      width: 500px;
      height: 500px;
      text-align: center;
    }

    .btn {
      margin-top: 50px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }

    .close-button {
      position: absolute;
      bottom: 4px;
      right: 4px;
      margin-top: 15px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
    }
    .no-imgs-to-display{
      text-align: center;
      font-size: 3em;
      color: #aaa;
      grid-column: 1 / -1 
    }
    .github-button {
      display: inline-block;
      background-color: #00BFFF;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 6px;
      font-weight: bold;
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease;
    }
    
    .github-button:hover {
      background-color: #0099cc;
    }
    .gallery-header{
        font-size: 2.5em;
        color: #007BFF;
        margin: 0;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-align: center;
        
    }
      
    .font-selector {
      padding: 8px 12px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      color: #333;
      font-family: Arial, sans-serif;
      transition: border-color 0.3s ease;
    }
    .font-label {
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }

  
    .font-selector:focus {
      border-color: #007BFF;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    }