.main-header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    margin-left: 80px;
    width: 200px;
    height: 50px;
}
.main-header ul{
    display: flex;
    gap: 2em;
    margin-right: 60px;
}
.main-header ul li{
    list-style-type: none;
    cursor: pointer;
}